@charset "UTF-8";
/* Este selector es funcional a resetear los márgenes y paddings de nuestro sitio para un mejor trabajo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

body {
  font-family: Poppins; }

@font-face {
  font-family: Roboto;
  src: url(../../fonts/RobotoFlex-Regular.ttf); }

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-ExtraLight.ttf); }

/* Containers */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px repeat(3, 1fr);
  grid-template-areas: "nav nav nav" "main main main" "main main main" "footer footer footer"; }

/* Secciones sintáxicas */
aside {
  grid-area: aside; }

footer {
  grid-area: footer; }

nav {
  grid-area: nav;
  grid-template-rows: span 3;
  position: sticky;
  top: 0px;
  z-index: 3;
  box-shadow: 0px 0px 5px 0px black; }
  nav .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    height: 80px; }
    nav .nav-container .nav-logo {
      text-decoration: none;
      font-family: Poppins;
      color: white;
      font-size: 20px;
      margin: 0px 20px; }
    nav .nav-container .nav-label_img {
      font-size: 3rem;
      color: white;
      margin: 0px 20px; }
    nav .nav-container .nav-ul {
      display: flex; }
      @media (max-width: 768px) {
        nav .nav-container .nav-ul {
          position: fixed;
          top: 80px;
          bottom: 0;
          background: #c84b31;
          width: 100%;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          clip-path: circle(0 at center);
          transition: clip-path 1s ease-in-out;
          z-index: 0; } }
    nav .nav-container .nav-li {
      margin: 0px 10px;
      list-style-type: none;
      font-family: Roboto; }
    nav .nav-container .nav-a {
      text-decoration: none;
      color: white; }
    nav .nav-container .nav-label_img, nav .nav-container .nav-input {
      display: none; }
    @media (max-width: 768px) {
      nav .nav-container .nav-label_img {
        display: block;
        cursor: pointer; } }
    nav .nav-container .nav-input:checked + .nav-ul {
      clip-path: circle(100% at center); }

main {
  grid-area: main; }

.about-me {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 475px;
  background-color: rgba(236, 219, 186, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-me .about-me_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about-me .about-me_section .aboutMe-h2 {
      color: black;
      text-align: center;
      font-size: 45px;
      font-weight: bold; }

.about-me_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 475px;
  background-color: rgba(200, 75, 49, 0.7); }
  .about-me_2 .about-me_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .about-me_2 .about-me_section .aboutMe-h2 {
      color: white;
      font-size: 20px; }
    .about-me_2 .about-me_section .aboutMe-h3 {
      color: white;
      font-size: 15px; }
    .about-me_2 .about-me_section .aboutMe-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 20px 0px; }
    .about-me_2 .about-me_section .aboutMe-p {
      color: white;
      font-size: 15px;
      text-align: center;
      margin: 0px 10px; }

.about-me_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 475px;
  background-color: rgba(45, 66, 99, 0.7); }
  .about-me_3 .about-me_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about-me_3 .about-me_section .aboutMe-p {
      margin: 10px;
      color: white;
      font-size: 15px;
      text-align: center; }
    .about-me_3 .about-me_section .aboutMe-img_2 {
      margin: 10px;
      height: 150px;
      width: 150px;
      border: solid 2px white;
      border-radius: 50%; }

.hardskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hardskills .hardskills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 475px;
    background-color: rgba(236, 219, 186, 0.7);
    width: 100%; }
    .hardskills .hardskills-section .hardskills-h2 {
      color: black;
      font-size: 50px; }
