@charset "UTF-8";
/* Este selector es funcional a resetear los márgenes y paddings de nuestro sitio para un mejor trabajo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

body {
  font-family: Poppins; }

.load-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }

.hidden {
  overflow: hidden; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-ExtraBold.ttf); }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-ExtraLight.ttf); }

@font-face {
  font-family: Bleach;
  src: url(../fonts/Bleach.ttf); }

@font-face {
  font-family: Inconsolata;
  src: url(../../fonts/Inconsolata-VariableFont_wdth\,wght.ttf); }

/* Containers */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px repeat(2, 1fr) 160px;
  grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer"; }

.body::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0.1); }

.body::-webkit-scrollbar-thumb {
  background: rgba(255, 132, 0, 0.4);
  border-radius: 5px; }

/* Secciones sintáxicas */
aside {
  grid-area: aside; }

footer {
  grid-area: footer; }

.language {
  position: relative;
  width: 50px;
  cursor: pointer; }

.language:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 24px;
  background: #ac3535;
  background: linear-gradient(90deg, #ac3535 0%, #9a90ff 50%, #ac3535 100%);
  border-radius: 25px; }

.language:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box; }

.language:checked:after {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 25px;
  border: 2px solid black; }

.language:checked:before {
  background: #a31b1b;
  background: linear-gradient(90deg, #a31b1b 0%, #ffe400 50%, #a31b1b 100%); }

header {
  grid-area: header; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 0px 5px 0px black; }
    header nav .nav-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      height: 80px; }
      header nav .nav-container .nav-logo {
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin: 0px 20px; }
      header nav .nav-container .nav-label_img {
        font-size: 3rem;
        color: white;
        margin: 0px 20px; }
      header nav .nav-container .nav-ul {
        display: flex; }
        @media (max-width: 768px) {
          header nav .nav-container .nav-ul {
            position: fixed;
            top: 80px;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
            font-family: PoppinsBold;
            width: 100%;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
            z-index: 0; } }
      header nav .nav-container .nav-li {
        margin: 0px 10px;
        list-style-type: none;
        font-size: 17px; }
      header nav .nav-container .nav-a {
        text-decoration: none;
        color: white; }
      header nav .nav-container .nav-label_img,
      header nav .nav-container .nav-input {
        display: none; }
      @media (max-width: 768px) {
        header nav .nav-container .nav-label_img {
          display: block;
          cursor: pointer; } }
      header nav .nav-container .nav-input:checked + .nav-ul {
        clip-path: circle(100% at center); }

main {
  grid-area: main; }

.home {
  background-size: cover;
  height: 100vh;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home img {
    background: transparent;
    box-shadow: 0 5px 15px 0 rgba(39, 142, 166, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 10px 20px;
    border-radius: 50%; }
    @media (max-width: 1020px) {
      .home img {
        width: 300px;
        height: 300px; } }
    @media (max-width: 600px) {
      .home img {
        width: 250px;
        height: 250px; } }
  .home h1 {
    font-size: 135px; }
    @media (max-width: 1020px) {
      .home h1 {
        font-size: 90px; } }
    @media (max-width: 600px) {
      .home h1 {
        font-size: 50px; } }
    .home h1 span {
      text-align: center;
      font-family: PoppinsBold; }
  .home .continue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home .continue p {
      font-size: 40px; }
      @media (max-width: 1020px) {
        .home .continue p {
          font-size: 30px; } }
  @media (max-width: 1020px) and (max-width: 600px) {
    .home .continue p {
      font-size: 20px; } }
      .home .continue p i {
        text-decoration: line-through; }
    .home .continue .bx-chevron-down {
      font-size: 40px; }

.about-me {
  background-size: cover;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 1020px) {
    .about-me {
      flex-direction: column;
      justify-content: center; } }
  .about-me .about-me_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px; }
    @media (max-width: 1020px) {
      .about-me .about-me_title {
        margin-top: 20px; } }
    .about-me .about-me_title h2 {
      font-size: 120px; }
      @media (max-width: 1480px) {
        .about-me .about-me_title h2 {
          font-size: 90px; } }
      @media (max-width: 600px) {
        .about-me .about-me_title h2 {
          font-size: 70px; } }
    .about-me .about-me_title .h2-rotate {
      font-size: 100px;
      transform: rotate(90deg); }
      @media (max-width: 1480px) {
        .about-me .about-me_title .h2-rotate {
          font-size: 75px; } }
      @media (max-width: 600px) {
        .about-me .about-me_title .h2-rotate {
          font-size: 50px; } }
  .about-me .about-me_im {
    text-align: center; }
    @media (max-width: 1020px) {
      .about-me .about-me_im {
        margin: 10px 0px; } }
    .about-me .about-me_im p {
      font-size: 20px;
      color: black; }
      @media (max-width: 1480px) {
        .about-me .about-me_im p {
          font-size: 15px; } }
      @media (max-width: 1020px) {
        .about-me .about-me_im p {
          font-size: 20px; } }
      @media (max-width: 600px) {
        .about-me .about-me_im p {
          font-size: 15px; } }

.about-me_data {
  width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: solid 1px black; }
  @media (max-width: 1480px) {
    .about-me_data {
      width: 500px; } }
  @media (max-width: 1200px) {
    .about-me_data {
      width: 400px; } }
  @media (max-width: 1020px) {
    .about-me_data {
      border-left: none;
      width: 100vw; } }
  .about-me_data .aboutMe-data_container {
    height: auto;
    width: 100%;
    padding: 10px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent; }
    @media (max-width: 1480px) {
      .about-me_data .aboutMe-data_container {
        padding: 0px; } }
  .about-me_data .aboutMe-data_collapse {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    background-color: transparent;
    overflow: hidden; }
    .about-me_data .aboutMe-data_collapse .aboutMe-sentence {
      font-size: 20px;
      font-weight: bold; }
      .about-me_data .aboutMe-data_collapse .aboutMe-sentence:active {
        color: #2371e7; }
      @media (max-width: 1480px) {
        .about-me_data .aboutMe-data_collapse .aboutMe-sentence {
          font-size: 16px; } }
      @media (max-width: 451px) {
        .about-me_data .aboutMe-data_collapse .aboutMe-sentence {
          font-size: 13px; } }
      @media (max-width: 451px) {
        .about-me_data .aboutMe-data_collapse .aboutMe-sentence span {
          display: none; } }
  .about-me_data .aboutMe-answer {
    overflow: hidden;
    transition: .5s;
    height: 0; }
    .about-me_data .aboutMe-answer p {
      padding: 0px 40px;
      box-sizing: border-box;
      font-size: 15px;
      color: black; }
      .about-me_data .aboutMe-answer p a {
        color: black; }
  .about-me_data .open {
    height: 170px;
    transform: translateY(0); }
    @media (max-width: 1480px) {
      .about-me_data .open {
        height: 230px; } }
    @media (max-width: 1200px) {
      .about-me_data .open {
        height: 270px; } }
    @media (max-width: 1020px) {
      .about-me_data .open {
        height: 120px; } }
    @media (max-width: 768px) {
      .about-me_data .open {
        height: 160px; } }
    @media (max-width: 552px) {
      .about-me_data .open {
        height: 220px; } }
    @media (max-width: 451px) {
      .about-me_data .open {
        height: 270px; } }
  .about-me_data .arrow-container {
    width: 40px;
    height: 30px;
    position: relative; }
  .about-me_data .up .line {
    transform: translate(0%, -50%) rotate(-45deg); }
  .about-me_data .up .line:nth-of-type(2) {
    transform: translate(0%, -50%) rotate(45deg); }
  .about-me_data .line {
    height: 1px;
    width: 50%;
    position: absolute;
    background-color: #121212;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0%, -50%) rotate(45deg); }
  .about-me_data .line:nth-of-type(2) {
    right: 8%;
    left: auto;
    transform: translate(0%, -50%) rotate(-45deg); }

.hard-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: solid 1px black; }
  .hard-skills .hardskills-title h2 {
    font-size: 120px;
    text-decoration: underline; }
    @media (max-width: 1480px) {
      .hard-skills .hardskills-title h2 {
        font-size: 90px; } }
    @media (max-width: 600px) {
      .hard-skills .hardskills-title h2 {
        font-size: 70px; } }
  .hard-skills .hardskills-title h4 {
    position: relative;
    bottom: 20px;
    text-align: end;
    border: solid 1px black;
    padding: 0px 5px; }
    @media (max-width: 600px) {
      .hard-skills .hardskills-title h4 {
        margin-top: 5px; } }
  .hard-skills .hardskills-logos {
    display: inline-flex;
    font-size: 120px;
    margin: 15px 0px; }
    @media (max-width: 992px) {
      .hard-skills .hardskills-logos {
        font-size: 80px; } }
    @media (max-width: 768px) {
      .hard-skills .hardskills-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        grid-template-areas: "html css" "js php";
        margin: 0px; } }
    @media (max-width: 390px) {
      .hard-skills .hardskills-logos {
        gap: 50px; } }
    .hard-skills .hardskills-logos .html {
      grid-area: html; }
      @media (max-width: 768px) {
        .hard-skills .hardskills-logos .html {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      .hard-skills .hardskills-logos .html .bxl-html5 {
        border: solid 2px black;
        border-radius: 50%;
        padding: 25px;
        cursor: pointer; }
        .hard-skills .hardskills-logos .html .bxl-html5:hover {
          transition: 1s;
          color: #E44D26;
          border-color: #E44D26;
          box-shadow: 0 0 5px #E44D26; }
      .hard-skills .hardskills-logos .html h4 {
        font-size: 25px;
        text-align: center; }
    .hard-skills .hardskills-logos .css {
      grid-area: css;
      margin: 0px 50px; }
      @media (max-width: 768px) {
        .hard-skills .hardskills-logos .css {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0px; } }
      .hard-skills .hardskills-logos .css .bxl-css3 {
        border: solid 2px black;
        border-radius: 50%;
        padding: 25px;
        cursor: pointer; }
        .hard-skills .hardskills-logos .css .bxl-css3:hover {
          transition: 1s;
          color: #009BDE;
          border-color: #009BDE;
          box-shadow: 0 0 5px #009BDE; }
      .hard-skills .hardskills-logos .css h4 {
        font-size: 25px;
        text-align: center; }
    .hard-skills .hardskills-logos .js {
      grid-area: js; }
      @media (max-width: 768px) {
        .hard-skills .hardskills-logos .js {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      .hard-skills .hardskills-logos .js .bxl-javascript {
        border: solid 2px black;
        border-radius: 50%;
        padding: 25px;
        cursor: pointer; }
        .hard-skills .hardskills-logos .js .bxl-javascript:hover {
          transition: 1s;
          color: #f7df1e;
          border-color: #f7df1e;
          box-shadow: 0 0 5px #f7df1e; }
      .hard-skills .hardskills-logos .js h4 {
        font-size: 25px;
        text-align: center; }
    .hard-skills .hardskills-logos .php {
      grid-area: php;
      margin-left: 50px; }
      @media (max-width: 768px) {
        .hard-skills .hardskills-logos .php {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 0; } }
      .hard-skills .hardskills-logos .php .bxl-php {
        border: solid 2px black;
        border-radius: 50%;
        padding: 25px;
        cursor: pointer; }
        .hard-skills .hardskills-logos .php .bxl-php:hover {
          transition: 1s;
          color: #5D619A;
          border-color: #5D619A;
          box-shadow: 0 0 5px #5D619A; }
      .hard-skills .hardskills-logos .php h4 {
        font-size: 25px;
        text-align: center; }
  .hard-skills .hardskills-readmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px; }
    @media (max-width: 768px) {
      .hard-skills .hardskills-readmore {
        margin: 50px 0px; } }
    .hard-skills .hardskills-readmore button {
      border-radius: 0px;
      box-shadow: 0px 3px 0px #000000;
      font-family: Arial;
      color: #000000;
      font-size: 20px;
      background: #ffffff;
      padding: 10px 20px 10px 20px;
      border: solid #000000 2px;
      text-decoration: none;
      cursor: pointer; }
      @media (max-width: 451px) {
        .hard-skills .hardskills-readmore button {
          font-size: 15px; } }
      .hard-skills .hardskills-readmore button:hover {
        transition: .5s;
        background: #8bd9d5;
        text-decoration: none;
        color: #fff; }
      .hard-skills .hardskills-readmore button:hover:active {
        transform: translateY(3px);
        box-shadow: 0px 0px 0px #000000;
        color: black; }
    .hard-skills .hardskills-readmore .hide {
      display: none;
      background: transparent;
      box-shadow: 0 5px 15px 0 rgba(39, 142, 166, 0.3);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      border-radius: 10px;
      padding: 10px 20px;
      margin: 10px 0px;
      width: 100%;
      padding: 1em; }
      @media (max-width: 390px) {
        .hard-skills .hardskills-readmore .hide {
          width: 100%;
          padding: 10px; } }
      .hard-skills .hardskills-readmore .hide ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap; }
      .hard-skills .hardskills-readmore .hide li {
        background: transparent;
        box-shadow: 0 5px 15px 0 rgba(39, 142, 166, 0.3);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border-radius: 10px;
        padding: 10px 20px;
        list-style-type: none;
        padding: 1em;
        margin: 0 2em 0 0;
        cursor: pointer;
        transition: all .5 ease; }
        .hard-skills .hardskills-readmore .hide li i {
          margin: auto;
          font-size: 50px; }
          @media (max-width: 600px) {
            .hard-skills .hardskills-readmore .hide li i {
              font-size: 30px; } }
          @media (max-width: 552px) {
            .hard-skills .hardskills-readmore .hide li i {
              font-size: 20px; } }
          @media (max-width: 390px) {
            .hard-skills .hardskills-readmore .hide li i {
              font-size: 18px; } }
      .hard-skills .hardskills-readmore .hide li.active {
        color: white;
        font-weight: bold; }
      .hard-skills .hardskills-readmore .hide li.bs.active {
        background-color: #5a23c8; }
      .hard-skills .hardskills-readmore .hide li.tw.active {
        background-color: #19B3B8; }
      .hard-skills .hardskills-readmore .hide li.sass.active {
        background-color: #D56EA3; }
      .hard-skills .hardskills-readmore .hide li.css-pure.active {
        background-color: #009BDE; }
      .hard-skills .hardskills-readmore .hide .container {
        min-width: 100%;
        min-height: 32vh;
        position: relative; }
        @media (max-width: 600px) {
          .hard-skills .hardskills-readmore .hide .container {
            min-width: 100%;
            height: 45vh; } }
      .hard-skills .hardskills-readmore .hide .block {
        margin: 1em 0em;
        padding: 1em;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all .5 ease; }
        .hard-skills .hardskills-readmore .hide .block h5 {
          font-size: 20px;
          text-decoration: underline;
          margin-bottom: 10px; }
          .hard-skills .hardskills-readmore .hide .block h5 a {
            text-decoration: none;
            color: black; }
        .hard-skills .hardskills-readmore .hide .block p {
          margin: 10px 0px; }
          @media (max-width: 390px) {
            .hard-skills .hardskills-readmore .hide .block p {
              font-size: 15px; } }
      .hard-skills .hardskills-readmore .hide .block.active {
        opacity: 1; }
    .hard-skills .hardskills-readmore .show {
      transition: all .5 ease;
      display: block; }
  .hard-skills .softskills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
    @media (max-width: 768px) {
      .hard-skills .softskills {
        margin-top: 0px; } }
    .hard-skills .softskills h2 {
      font-size: 40px; }
      @media (max-width: 451px) {
        .hard-skills .softskills h2 {
          font-size: 30px; } }
    .hard-skills .softskills .softskills-logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 65px;
      margin-top: 20px; }
      @media (max-width: 768px) {
        .hard-skills .softskills .softskills-logos {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-template-areas: "git gith vsc" "adobe wordpress design"; } }
      .hard-skills .softskills .softskills-logos .git {
        grid-area: git; }
        .hard-skills .softskills .softskills-logos .git:hover {
          transition: .5s;
          color: #EF5033; }
      .hard-skills .softskills .softskills-logos .github {
        margin: 0px 20px;
        grid-area: gith; }
        @media (max-width: 768px) {
          .hard-skills .softskills .softskills-logos .github {
            margin: 0; } }
        .hard-skills .softskills .softskills-logos .github:hover {
          transition: .5s; }
      .hard-skills .softskills .softskills-logos .visual {
        grid-area: vsc; }
        .hard-skills .softskills .softskills-logos .visual:hover {
          transition: .5s;
          color: #3EACF2; }
      .hard-skills .softskills .softskills-logos .adobe {
        margin-left: 20px;
        grid-area: adobe; }
        @media (max-width: 768px) {
          .hard-skills .softskills .softskills-logos .adobe {
            margin-left: 0; } }
        .hard-skills .softskills .softskills-logos .adobe:hover {
          transition: .5s;
          color: #FA0F02; }
      .hard-skills .softskills .softskills-logos .wordpress {
        margin-left: 20px;
        grid-area: wordpress; }
        @media (max-width: 768px) {
          .hard-skills .softskills .softskills-logos .wordpress {
            margin-left: 0; } }
        .hard-skills .softskills .softskills-logos .wordpress:hover {
          transition: .5s;
          color: #21759B; }
      .hard-skills .softskills .softskills-logos .design {
        margin-left: 20px;
        grid-area: design; }
        @media (max-width: 768px) {
          .hard-skills .softskills .softskills-logos .design {
            margin-left: 0; } }
        .hard-skills .softskills .softskills-logos .design:hover {
          transition: .5s;
          color: #6d5012; }

[data-tooltip] {
  position: relative;
  cursor: default; }
  [data-tooltip]::after {
    position: absolute;
    width: 80px;
    left: calc(50% - 40px);
    bottom: 115%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip);
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s; }
  [data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

[data-tooltip_l] {
  position: relative;
  cursor: default; }
  [data-tooltip_l]::after {
    position: absolute;
    width: 160px;
    left: calc(50% - 70px);
    bottom: 115%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip_l);
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s; }
  [data-tooltip_l]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

[data-tooltip_form] {
  position: relative;
  cursor: default; }
  [data-tooltip_form]::after {
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    bottom: 135%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip_form);
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s; }
    @media (max-width: 475px) {
      [data-tooltip_form]::after {
        width: 200px;
        left: calc(50% - 100px); } }
  [data-tooltip_form]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 992px) {
    .portfolio {
      flex-direction: column;
      justify-content: center; } }
  .portfolio .portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio .portfolio-title h2 {
      font-size: 120px;
      margin-left: 20px; }
      @media (max-width: 1480px) {
        .portfolio .portfolio-title h2 {
          font-size: 90px; } }
      @media (max-width: 600px) {
        .portfolio .portfolio-title h2 {
          font-size: 70px; } }
    .portfolio .portfolio-title span {
      font-weight: bold;
      font-size: 120px;
      transform: rotate(90deg); }
      @media (max-width: 1480px) {
        .portfolio .portfolio-title span {
          font-size: 90px; } }
      @media (max-width: 600px) {
        .portfolio .portfolio-title span {
          font-size: 70px; } }
  .portfolio .portfolio-sentence p {
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold; }
    @media (max-width: 1200px) {
      .portfolio .portfolio-sentence p {
        font-size: 17px; } }
    @media (max-width: 768px) {
      .portfolio .portfolio-sentence p {
        text-align: center; } }

.portfolio-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  border-bottom: solid 1px black; }
  @media (max-width: 768px) {
    .portfolio-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .portfolio-2 .difx {
    grid-column: 2;
    grid-row: 1; }
  .portfolio-2 .myc {
    grid-column: 4;
    grid-row: 1; }
  .portfolio-2 .portfolio-cards {
    width: 300px;
    height: 300px;
    margin: 75px auto;
    perspective: 500px; }
    .portfolio-2 .portfolio-cards .project-difx {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transition: transform 1s;
      transform-style: preserve-3d; }
      .portfolio-2 .portfolio-cards .project-difx .front,
      .portfolio-2 .portfolio-cards .project-difx .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        background: url(../media/difx.png);
        color: #ffffff;
        text-align: center;
        font-size: 60px;
        border-radius: 5px;
        backface-visibility: hidden; }
      .portfolio-2 .portfolio-cards .project-difx .front h2 {
        font-family: Bleach;
        font-weight: 100;
        color: white; }
      .portfolio-2 .portfolio-cards .project-difx .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23111111' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23222222' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23333333' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23444444' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23555555' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23444444' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23333333' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23222222' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23111111' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23000000' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        color: white;
        transform: rotateY(180deg); }
        .portfolio-2 .portfolio-cards .project-difx .back h3 {
          font-family: Bleach;
          font-size: 60px;
          font-weight: 100; }
          .portfolio-2 .portfolio-cards .project-difx .back h3 a {
            text-decoration: none;
            background: #6f0ebe;
            background: -webkit-linear-gradient(to right, #6f0ebe, #ff00bb);
            background: linear-gradient(to right, #6f0ebe, #ff00bb);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent; }
            .portfolio-2 .portfolio-cards .project-difx .back h3 a:hover {
              transition: .5s;
              text-shadow: 0px 5px 5px #ff00bb; }
        .portfolio-2 .portfolio-cards .project-difx .back p {
          margin: 25px 0px;
          font-size: 14px;
          padding: 0px 15px; }
        .portfolio-2 .portfolio-cards .project-difx .back .repository {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 5px;
          border: solid 2px transparent;
          border-radius: 5px;
          cursor: pointer; }
          .portfolio-2 .portfolio-cards .project-difx .back .repository a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none; }
            .portfolio-2 .portfolio-cards .project-difx .back .repository a .bxl-github {
              font-size: 25px;
              margin: 0px 5px;
              color: black; }
            .portfolio-2 .portfolio-cards .project-difx .back .repository a span {
              font-size: 15px;
              color: white;
              font-weight: bold; }
          .portfolio-2 .portfolio-cards .project-difx .back .repository:hover {
            transition: 1s;
            border: solid 2px white; }
    .portfolio-2 .portfolio-cards .project-myc {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transition: transform 1s;
      transform-style: preserve-3d; }
      .portfolio-2 .portfolio-cards .project-myc .front,
      .portfolio-2 .portfolio-cards .project-myc .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        background: url(../media/mycalculator.png);
        color: #ffffff;
        text-align: center;
        border-radius: 5px;
        backface-visibility: hidden; }
      .portfolio-2 .portfolio-cards .project-myc .front h2 {
        font-family: Inconsolata;
        font-weight: bold;
        font-size: 30px;
        color: white; }
      .portfolio-2 .portfolio-cards .project-myc .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23111111' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23222222' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23333333' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23444444' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23555555' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23444444' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23333333' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23222222' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23111111' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23000000' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        color: white;
        transform: rotateY(180deg); }
        .portfolio-2 .portfolio-cards .project-myc .back h3 {
          font-size: 25px;
          font-family: Inconsolata; }
          .portfolio-2 .portfolio-cards .project-myc .back h3 a {
            text-decoration: none;
            color: white; }
        .portfolio-2 .portfolio-cards .project-myc .back p {
          margin: 25px 0px;
          font-size: 14px;
          padding: 0px 15px; }
        .portfolio-2 .portfolio-cards .project-myc .back .repository {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 5px;
          border: solid 2px transparent;
          border-radius: 5px;
          cursor: pointer; }
          .portfolio-2 .portfolio-cards .project-myc .back .repository a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none; }
            .portfolio-2 .portfolio-cards .project-myc .back .repository a .bxl-github {
              font-size: 25px;
              margin: 0px 5px;
              color: black; }
            .portfolio-2 .portfolio-cards .project-myc .back .repository a span {
              font-size: 15px;
              color: white;
              font-weight: bold; }
          .portfolio-2 .portfolio-cards .project-myc .back .repository:hover {
            transition: 1s;
            border: solid 2px white; }
    .portfolio-2 .portfolio-cards:hover .project-difx {
      transform: rotateY(180deg);
      transition: transform 0.5s; }
    .portfolio-2 .portfolio-cards:hover .project-myc {
      transform: rotateY(180deg);
      transition: transform 0.5s; }

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1020px) {
    .contact {
      flex-direction: column; } }
  .contact h2 {
    font-size: 120px;
    margin: 25px; }
    @media (max-width: 1480px) {
      .contact h2 {
        font-size: 90px; } }
    @media (max-width: 600px) {
      .contact h2 {
        font-size: 70px; } }
  .contact .img img {
    width: 300px;
    height: 300px; }
    @media (max-width: 1200px) {
      .contact .img img {
        width: 200px;
        height: 200px; } }
    @media (max-width: 1085px) {
      .contact .img img {
        width: 150px;
        height: 150px; } }
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 25px;
    margin: 25px;
    border: solid 1px black;
    font-family: Poppins; }
    @media (max-width: 1020px) {
      .contact form {
        margin: 25px 0px; } }
    @media (max-width: 475px) {
      .contact form {
        font-size: 15px;
        margin: 25px; } }
    .contact form label {
      font-weight: bold; }
      .contact form label b {
        border: solid 1px #b9b9b9;
        font-size: 10px;
        padding: 0px 5px;
        color: #b9b9b9;
        cursor: pointer; }
    .contact form input {
      margin-top: 5px; }
    .contact form legend {
      padding: 0px 10px;
      font-weight: bold;
      text-decoration: underline; }
    .contact form .space-form {
      height: 25px;
      font-size: 15px;
      padding: 5px;
      border-radius: 5px; }
    .contact form .space-form_m {
      height: 120px;
      font-size: 15px;
      padding: 5px;
      border-radius: 5px;
      font-family: Poppins; }
    .contact form .form-row {
      display: flex;
      flex-direction: column;
      margin: 20px 0px; }
      .contact form .form-row .company {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .contact form .form-row .company b {
          margin-left: 5px; }
    .contact form .legacy-form-row {
      padding: 0px 10px; }
      .contact form .legacy-form-row label {
        font-weight: 100; }
      .contact form .legacy-form-row #freelance {
        margin-left: 20px; }
    .contact form .message-section label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .contact form .message-section label b {
        margin-left: 5px; }
    .contact form .message-section textarea {
      margin-top: 5px; }
    .contact form .button {
      align-self: center; }
      .contact form .button button {
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        padding: 2px;
        position: relative;
        overflow: hidden;
        cursor: pointer; }
        @media (max-width: 451px) {
          .contact form .button button {
            font-size: 15px; } }
        .contact form .button button::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 250%;
          height: 150%;
          background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
          background-size: 50% 100%;
          border-radius: inherit; }
        .contact form .button button:hover {
          transition: .5s;
          box-shadow: 0px 3px 0px black; }
        .contact form .button button:hover:active {
          transform: translateY(3px);
          box-shadow: 0px 0px 0px black; }
        .contact form .button button:hover::before {
          animation: animate_border 0.75s linear infinite; }
        .contact form .button button span {
          display: block;
          font-family: Poppins;
          background-color: white;
          color: black;
          font-size: 20px;
          padding: 10px;
          border-radius: 5px;
          position: relative; }
          @media (max-width: 470px) {
            .contact form .button button span {
              font-size: 15px; } }

@keyframes animate_border {
  to {
    transform: translateX(-50%); } }

footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer-container .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      footer .footer-container .social-media .social-github a {
        text-decoration: none;
        color: white; }
      footer .footer-container .social-media .social-github .bxl-github {
        font-size: 45px; }
      footer .footer-container .social-media .social-linkedin {
        margin: 0px 20px; }
        footer .footer-container .social-media .social-linkedin a {
          text-decoration: none;
          color: white; }
        footer .footer-container .social-media .social-linkedin .bxl-linkedin {
          font-size: 45px; }
      footer .footer-container .social-media .social-twitter a {
        text-decoration: none;
        color: white; }
      footer .footer-container .social-media .social-twitter .bxl-twitter {
        font-size: 45px; }
      footer .footer-container .social-media .social-ig {
        margin-left: 25px; }
        footer .footer-container .social-media .social-ig a {
          text-decoration: none;
          color: white; }
        footer .footer-container .social-media .social-ig .bxl-instagram {
          font-size: 45px; }
    footer .footer-container .thx {
      margin: 10px 5px; }
      footer .footer-container .thx p {
        color: white;
        text-align: center; }
    footer .footer-container .up a {
      color: white; }

.flex-container_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .flex-container_success .congrats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .flex-container_success .congrats h2 {
      margin: 15px 0px; }
    .flex-container_success .congrats img {
      margin-bottom: 15px;
      width: 70px;
      height: 70px; }
