header{
    grid-area: header;
        .container{
            @include flex(column, center, center)
                .img-ondas{
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0,0,0,0.8);
                    filter: brightness(0.2);
                }
                .info{
                    font-size: 3rem;
                    font-family: Roboto;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                    text-align: center;
                    position: absolute;
                }
        }
}