main{
    grid-area: main;
}

//About Me//
.about-me{
    @include fondoInicio();
    @include flex(column, center, center);
            h1{
                grid-column: 2;
                grid-row: 2;
                font-size: 135px;
                text-align: center;
            }
            .continue{
            grid-column: 2;
            grid-row: 3;
            @include flex(column, center, center);
                p{
                    font-size: 40px;
                }
                .bxs-chevron-down{
                    font-size: 40px;
                }
        }
}

