main{
    grid-area: main;
}

//About Me//
.about-me{
    @include containerMainP($grisOpaco);
    @include flex(column, center, center);
        .about-me_section{
            @include flex(column, center, center);
                .aboutMe-h1{
                    color: black;
                    text-align: center;
                    font-size: 45px;
                    @include h1(tablet);
                    @include h1(mobileLarge)
                    font-weight: bold;
                }
                .aboutMe-h2{
                    color: black;
                    font-size: 25px;
                    @include p(tablet);
                    @include p(mobileLarge)
                    text-align: center;
                }
        }
}

.about-me_2{
    @include flex(column, center, center);
    @include containerMainS($naranjaOpaco);
        .about-me_section{
            @include flex(column, flex-start, center);
                .aboutMe-h2{
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    @include h2(tablet);
                    @include h2(mobileLarge);
                    @include h2(mobileMid);
                }
                .aboutMe-h3{
                    color: white;
                    font-size: 15px;
                    @include h3(tablet);
                    @include h3(mobileLarge);
                    @include h3(mobileMid);
                }
                .aboutMe-img{
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                    background: #eeb61b;
                    margin: 20px 0px;
                }
                .aboutMe-p{
                    color: white;
                    font-size: 15px;
                    text-align: center;
                    margin: 0px 10px;
                }
        }
}

.about-me_3{
    @include flex(column, center, center);
    @include containerMainS($azulOpaco);
        .about-me_section{
            @include flex(column, center, center)
                .aboutMe-p{
                    margin: 10px;
                    color: white;
                    font-size: 15px;
                    text-align: center;
                }
                .aboutMe-img_2{
                    margin: 10px;
                    height: 150px;
                    width: 150px;
                    border: solid 2px white;
                    border-radius: 50%;
                }
        }
}

//Hardskills//
.hardskills{
    @include flex(column, center, center);
    background: center fixed url(../../media/aboutMe-data.jpg);
    background-size: cover;
        .hardskills-section{
            @include flex(column, center, center);
            @include containerMainS($grisOpaco);
            @include mQuerieWelcome(special);
            width: 100%;
                .hardskills-h2{
                    color: rgb(255, 255, 255);
                    font-size: 50px;
                    background-color: rgba(0,0,0,0.4);
                    padding: 10px;
                    font-weight: bold;
                    @include hardskills(tablet);
                    @include hardskills(mobileLarge);
                    @include hardskills(mobileMid);
                }
        }
}

.hardskills-2{
    @include flex(column, center, center)
        .hardskills-2_section{
            display: flex;
            @include containerMainS($naranjaOpaco)
            width: 100%;
            .hardskills-section_h2{
                color: white;
                text-align: center;
                font-size: 20px;
                margin: 10px 0px;
                background-color: rgba(0, 0, 0, 0.4);
                width: 100%;
                padding: 0px 10px;
            }
            .hardskills-section_1{
                @include flex(row, center, none);
                .bxl-html5, .bxl-css3, .bxl-javascript{
                    color: $azulOpaco;
                    font-size: 100px;
                    padding: 0px 10px
                }
            }
            .hardskills-section_2{
                @include flex(row, center, none);
                .bxl-bootstrap, .bxl-tailwind-css, .bxl-sass{
                    color: $azulOpaco;
                    font-size: 100px;
                    padding: 0px 10px;
                }
            }
            .hardskills-section_3{
                @extend .hardskills-section_2;
                .bxl-git, .bxl-github{
                    color: $azulOpaco;
                    font-size: 100px;   
                    padding: 0px 10px;
                }
            }
        }
}

.hardskills-3{
    @include flex(column, center, center);
        .hardskills-3_section{
            display: flex;
            @include containerMainS($azulOpaco);
            width: 100%;
                .hardskills-section_h2{
                    color: white;
                    text-align: center;
                    font-size: 20px;
                    margin: 10px 0px;
                    background-color: rgba(0, 0, 0, 0.4);
                    width: 100%;
                    padding: 0px 10px;
                }
                .hardskills-section_4{
                    @include flex(row, center, none);
                    .bxl-php, .bxl-react, .bxl-nodejs{
                        color: $grisOpaco;
                        font-size: 100px;   
                        padding: 0px 10px;
                    }
                }
                .hardskills-section_5{
                    @include flex(row, center, none)
                    .bxs-data, .bxl-python, .bxl-angular{
                        color: $grisOpaco;
                        font-size: 100px;   
                        padding: 0px 10px;
                    }
                }
                .bx-code-alt{
                    color: $grisOpaco;
                    font-size: 70px;
                    margin: 43px 0px;
                    position: relative;
                    top: 45px;    
                }
        }
}

//Portfolio// 
.portfolio{
    @include flex(column, center, center);
    background: center fixed url(../../media/aboutme.jpg);
    background-size: cover;
    .portfolio-section{
        @include flex(column, center, center);
        @include containerMainS($grisOpaco);
        @include mQuerieWelcome(special);
        width: 100%;
            .portfolio-h2{
                color: rgb(0, 0, 0);
                background-color: rgba(0,0,0,0.4);
                padding: 10px;
                font-size: 50px;
                font-weight: bold;
                @include hardskills(tablet);
                @include hardskills(mobileLarge);
                @include hardskills(mobileMid);
            }
}
}

.portfolio-difx{
    @include flex(column, center, center);
        .difx-section{
            @include flex(column, center, center);
            @include containerMainS($naranjaOpaco);
            height: 320px;
            width: 100%;
                .difx{
                    font-family: Bleach;
                    border: solid 1px white;
                    padding: 5px 20px;
                    color: white;
                    font-size: 80px;
                }
                .difx-p{
                    color: white;
                    font-size: 15px;
                    text-align: center;
                    margin: 10px 0px;
                }
        }
}

.portfolio-myC{
    @include flex(column, center, center);
        .myC-section{
            @include flex(column, center, center);
            @include containerMainS($azulOpaco);
            height: 300px;
            width: 100%;
                .myC-h2{
                    border: solid 1px white;
                    padding: 5px 20px;
                    color: white;
                    font-size: 35px;
                }
                .myC-p{
                    color: white;
                    font-size: 15px;
                    text-align: center;
                    margin: 10px 0px;
                }
        }
}

.visitMe-github{
    .difx-github{
        @include flex(row, center, center);
        text-decoration: none;
        color: white;
        font-size: 40px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.2);
            span{
                margin: 0px 5px;
                font-size: 20px;
            }
    }
}