header{
    grid-area: header;
    nav{
        grid-template-rows: span 3;
        position: sticky;
        top: 0px;
        z-index: 5;
        box-shadow: 0px 0px 5px 0px black;
            .nav-container{
            @include flex(row, space-between, center);
            background-color: (map-get($colores, primario));
            height: 80px;
                .nav-logo{
                    text-decoration: none;
                    font-family: Poppins;
                    color: map-get($colores, letras);
                    font-size: 20px;
                    margin: 0px 20px;
                }
                .nav-label_img{
                    font-size: 3rem;
                    color: map-get($colores, letras);
                    margin: 0px 20px;
                }
                .nav-ul{
                    display: flex;
                    @include mQuerie(sections);
                }
                .nav-li{
                    margin: 0px 10px;
                    list-style-type: none;
                    font-family: Roboto;
                    font-size: 17px;
                }
                .nav-a{
                    text-decoration: none;
                    color: map-get($colores, letras);
                }
                .nav-label_img, .nav-input{
                    display: none;
                }
                .nav-label_img{
                    @include mQuerie(bars);
                }
                .nav-input:checked + .nav-ul{
                    clip-path: circle(100% at center);
                }
            }
    }
    
    
}