@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face{
    font-family: Poppins;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face{
    font-family: Bleach;
    src: url(../fonts/Bleach.ttf);
}