@font-face {
    font-family: Roboto;
    src: url(../../fonts/RobotoFlex-Regular.ttf);
}

@font-face{
    font-family: Poppins;
    src: url(../../fonts/Poppins-ExtraLight.ttf);
}

@font-face{
    font-family: Bleach;
    src: url(../../fonts/Bleach.ttf);
}