/* Este selector es funcional a resetear los márgenes y paddings de nuestro sitio para un mejor trabajo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

body{
    font-family: Poppins;
}