/* Containers */

.grid-container {
    @include grid(repeat(3, 1fr), 80px repeat(2, 1fr) 160px);
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}

/* Secciones sintáxicas */

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}