// Displays //

@mixin grid($gtc, $gtr){
    display: grid;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
};

@mixin flex($fd, $jc, $ai){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
};





// Hamburger Menu // 

@mixin mQuerie($size){
    @if $size == bars{
        @media (max-width: 768px){
            display: block;
            cursor: pointer;
        }
    } @else if $size == sections{
        @media (max-width: 768px){
            position: fixed;
            top: 80px;
            bottom: 0;
            background: map-get($colores, terciario);
            width: 100%;
            left: 0;
            @include flex(column, space-evenly, center);
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
            z-index: 0;
        }
    }
}

// Containers Main //

@mixin containerMainP($c){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $c;
}

@mixin containerMainS($c){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 475px;
    background-color: $c;
}


@mixin mQuerieWelcome($size){
    @if $size == mobile{
        @media (max-width: 768px){
            @include containerMainS($grisOpaco);
        } 
    } @else if $size == desktop{
        @media (min-width: 768px){
            @include containerMainP($grisOpaco)
        }
    } @else if $size == special{
        @media (max-width: 768px){
            @include containerMainP($grisOpaco);
        }
    }
}