// Displays //

@mixin grid($gtc, $gtr){
    display: grid;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
};

@mixin flex($fd, $jc, $ai){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
};

// Hamburger Menu Media Querie// 

@mixin mQuerie($size){
    @if $size == bars{
        @media (max-width: 768px){
            display: block;
            cursor: pointer;
        }
    } @else if $size == sections{
        @media (max-width: 768px){
            position: fixed;
            top: 80px;
            bottom: 0;
            background-color: #c295e2;
            background-image: linear-gradient(135deg,#c295e2 0%, #420d67  100%);                                
            width: 100%;
            left: 0;
            @include flex(column, space-evenly, center);
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
            z-index: 0;
        }
    }
}

// Backgrounds // 

@mixin fondoInicio(){
    height: 100%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #c295e2 100%);    
}

// Containers Main //

@mixin glassmorphism($g){
    @if $g == shadow{
    background: transparent;
    box-shadow: 0 5px 15px 0 rgba(39, 142, 166, 0.3); 
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 10px 20px;
} @else if $g == noshadow{
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 7px );
    padding: 10px 20px;
}
}

// MQ //

@mixin mQueriePages($size){
    @if $size == l{
        @media (max-width: 992px) { @content };
    } @else if $size == m{
        @media (max-width: 768px) { @content };
    } @else if $size == s{
        @media (max-width: 600px) { @content };
    } @else if $size == xl{
        @media (max-width: 1480px) { @content };
    }
}