// Map-get de colores principales del sitio web // 

$colores: (
    // Design //
    primario: rgb(25, 25, 25),
    secundario: rgb(45, 66, 99),
    terciario: rgb(200, 75, 49),
    cuaternario: rgb(236, 219, 186),
    // Others //
    letras: white
);

